<a href="https://colab.research.google.com/github/ricomwas/PandaswithPython/blob/master/pandas_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()
with open(target_csv_path, "wb") as f:
  f.write(response.content)
print("Download ready")

Download ready

In [5]:
import pandas as pd

nba = pd.read_csv('nba_all_elo.csv')
type(nba)

pandas.core.frame.DataFrame

This is to determine the no of rows

In [6]:
len(nba)

126314

Checking your data dimensionality

In [7]:
nba.shape

(126314, 23)

Displaying the 1st 5 rows

In [8]:
nba.head()

   gameorder       game_id lg_id  ...  game_result  forecast notes
0          1  194611010TRH   NBA  ...            L  0.640065   NaN
1          1  194611010TRH   NBA  ...            W  0.359935   NaN
2          2  194611020CHS   NBA  ...            W  0.631101   NaN
3          2  194611020CHS   NBA  ...            L  0.368899   NaN
4          3  194611020DTF   NBA  ...            L  0.640065   NaN

[5 rows x 23 columns]

Displaying the last 3 rows

In [9]:
nba.tail(3)

        gameorder       game_id lg_id  ...  game_result  forecast notes
126311      63156  201506140GSW   NBA  ...            L  0.234435   NaN
126312      63157  201506170CLE   NBA  ...            L  0.481450   NaN
126313      63157  201506170CLE   NBA  ...            W  0.518550   NaN

[3 rows x 23 columns]

Displaying different datatypes

In [10]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

Descriptive statics for all numeric columns

In [12]:
nba.describe()

           gameorder        _iscopy  ...      opp_elo_n       forecast
count  126314.000000  126314.000000  ...  126314.000000  126314.000000
mean    31579.000000       0.500000  ...    1495.236055       0.500000
std     18231.927643       0.500002  ...     112.461687       0.215252
min         1.000000       0.000000  ...    1085.774400       0.020447
25%     15790.000000       0.000000  ...    1416.994900       0.327989
50%     31579.000000       0.500000  ...    1500.954400       0.500000
75%     47368.000000       1.000000  ...    1576.291625       0.672011
max     63157.000000       1.000000  ...    1853.104500       0.979553

[8 rows x 13 columns]

Displaying of other data types i.e. colunmns with the datatype of ojects

In [15]:
import numpy as np
nba.describe(include = np.object)

             game_id   lg_id  ... game_result           notes
count         126314  126314  ...      126314            5424
unique         63157       2  ...           2             231
top     200203070DEN     NBA  ...           L  at New York NY
freq               2  118016  ...       63157             440

[4 rows x 10 columns]